{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="content">
            <h2>Pairing</h2>
            <p id="hue-bridge-status-text">Searching for Hue bridge</p>
            <hr>
            <p>Step 1: Press the center button on the Hue Bridge</p>
            <img src="{% static 'lights/hue_pairing.png' %}" alt="A finger pressing the big button on the Hue bridge">

            <p>Step 2: Start pairing:</p>
            <button>Pairing</button>
        </div>
    </div>
{% endblock %}

{% block extra_media %}
    <script src="{% static "node_modules/jshue/src/jshue.js" %}"></script>
    <script>
        $(document).ready(function () {
            let hue = jsHue();
            hue.discover().then(bridges => {
                if (bridges.length === 0) {
                    console.log('No bridges found. :(');
                } else {
                    bridges.forEach(b => console.log('Bridge found at IP address %s.', b.internalipaddress));
                    $('#hue-bridge-status-text').text("Bridge Active: " + bridges[0].internalipaddress);
                    turn_on(bridges[0].internalipaddress);
                }
            }).catch(e => console.log('Error finding bridges', e));

            function turn_on(bridge_ip) {
                var bridge = hue.bridge(bridge_ip);

                // create user account (requires link button to be pressed)
                // TODO instruct the user to press the button to connect once, THEN connect
                bridge.createUser('myApp#testdevice').then(data => {
                    // extract bridge-generated username from returned data
                    var username = data[0].success.username;

                    console.log('New username:', username);
                    // username: NG72PspgHAMDgtXVcD5m41v23iMwvygTpTDvqqqI
                    // instantiate user object with username
                })
            }
        })
    </script>
{% endblock %}