{% extends "base.html" %}
{% load markdownify %}
{% load static %}

{% block content %}
    <div class="content">
        <nav class="level">
            <div class="level-left">
                <a href="{% url "locations:edit" location.id %}" class="level-item button">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                    <span>Edit</span>
                </a>
            </div>
            <h1 class="level-item title has-text-centered">{{ location.name }}</h1>
            <div class="level-right">
                <a href="{% url "locations:delete" location.id %}" class="level-item button is-danger is-outlined">
                    <span>Delete</span>
                    <span class="icon is-small"><i class="fas fa-times"></i></span>
                </a>
            </div>
        </nav>
        <nav class="level">
            <div class="level-left">
                <span><strong>Type:</strong> {{ location.type|default:"Unknown" }}</span>
            </div>
            <div class="level-right">
                <span><strong>Ruler / Owner:</strong> {{ location.ruler|default:"No ruler" }}</span>
            </div>
        </nav>
        <div class="columns">
            <div class="column">
                <div class="content has-background-light">
                    <h3 class="subtitle has-text-centered">Description</h3>
                    <p>{{ location.description|markdownify }}</p>
                </div>
            </div>
            {% if location.map %}
                <div class="column content image has-background-light has-text-centered">
                    <h3 class="subtitle">Map</h3>
                    <a href="{{ location.map.url }}">
                        <img class="is-rounded map is-inline-block" alt="A Map of {{ location.name }}"
                             src="{{ location.map.url }}"/>
                    </a>
                </div>
            {% endif %}
        </div>
        {% if location.history %}
            <div class="columns">
                <div class="column">
                    <div class="content has-background-light">
                        <h3 class="subtitle has-text-centered">History</h3>
                        <p>{{ location.history|markdownify }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if location.racedistribution_set.exists %}
            <div class="columns">
                <div class="column">
                    <div class="content has-background-light has-text-centered">
                        <h3 class="subtitle">Occupant Distribution</h3>
                        <canvas style="max-width:600px;max-height: 400px;" id="occupancyChart" width="600"
                                height="400" class="is-inline-block"></canvas>
                        <br/>
                        <button class="button is-info" id="button-random-occupant">Random Occupant</button>
                        <p id="p-random-occupant"></p>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block extra_media %}
    {% if location.racedistribution_set.exists %}
        <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
        <script src="{% static 'node_modules/chartjs-plugin-colorschemes/dist/chartjs-plugin-colorschemes.min.js' %}"></script>
        <script>
            let ctx = document.getElementById("occupancyChart").getContext('2d');
            let races_distribution = [{% for o in location.racedistribution_set.all %}{{ o.percentage }}{% if not forloop.last %}, {% endif %}{% endfor %}];
            let races_labels = [{% for o in location.racedistribution_set.all %}"{{ o.race }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
            let myPieChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: races_distribution
                        }],

                        // These labels appear in the legend and in the tooltips when hovering different arcs
                        labels: races_labels
                    }
                })
            ;
            let rand = function (min, max) {
                return Math.random() * (max - min) + min;
            };

            let getRandomItem = function (list, weight) {
                let total_weight = weight.reduce(function (prev, cur, i, arr) {
                    return prev + cur;
                });

                let random_num = rand(0, total_weight);
                let weight_sum = 0;
                //console.log(random_num)

                for (let i = 0; i < list.length; i++) {
                    weight_sum += weight[i];
                    weight_sum = +weight_sum.toFixed(2);

                    if (random_num <= weight_sum) {
                        return list[i];
                    }
                }

                // end of function
            };

            $('#button-random-occupant').click(function () {
                let random_item = getRandomItem(races_labels, races_distribution);
                $('#p-random-occupant').text("Random Occupant: " + random_item);
            });
        </script>
    {% endif %}
{% endblock %}