{% extends "base.html" %}
{% load markdownify %}

{% block content %}
    <div class="content">
        <nav class="level">
            <div class="level-left">
                <a href="{% url "locations:edit" location.id %}" class="level-item button">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                    <span>Edit</span>
                </a>
            </div>
            <h1 class="level-item title has-text-centered">{{ location.name }}</h1>
            <div class="level-right">
                <a href="{% url "locations:delete" location.id %}" class="level-item button is-danger is-outlined">
                    <span>Delete</span>
                    <span class="icon is-small"><i class="fas fa-times"></i></span>
                </a>
            </div>
        </nav>
        <nav class="level">
            <div class="level-left">
                <span><strong>Type:</strong> {{ location.type }}</span>
            </div>
            <div class="level-right">
                <span><strong>Ruler / Owner:</strong> {{ location.ruler }}</span>
            </div>
        </nav>
        <div class="columns">
            <div class="column">
                <div class="content has-background-light">
                    <h3 class="subtitle has-text-centered">Description</h3>
                    <p>{{ location.description|markdownify }}</p>
                </div>
            </div>
            <div class="column content image has-background-light has-text-centered">
                <h3 class="subtitle">Map</h3>
                <a href="{{ location.map.url }}">
                    <img class="is-rounded map is-inline-block" alt="A Map of {{ location.name }}"
                         src="{{ location.map.url }}"/>
                </a>
            </div>
        </div>
        <div class="columns">
            <div class="column content has-background-light">
                <h3 class="subtitle has-text-centered">History</h3>
                <p>{{ location.history|markdownify }}</p>
            </div>
        </div>
    </div>


{% endblock %}