{% extends "base.html" %}
{% load markdownify %}
{% load static %}

{% block content %}
    <div class="content">
        <nav class="level">
            <div class="level-left">
                <a href="{% url "locations:edit" location.id %}" class="level-item button">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                    <span>Edit</span>
                </a>
            </div>
            <h1 class="level-item title has-text-centered">{{ location.name }}</h1>
            <div class="level-right">
                <a href="{% url "locations:delete" location.id %}" class="level-item button is-danger is-outlined">
                    <span>Delete</span>
                    <span class="icon is-small"><i class="fas fa-times"></i></span>
                </a>
            </div>
        </nav>
        <nav class="level">
            <div class="level-left">
                <span><strong>Type:</strong> {{ location.type }}</span>
            </div>
            <div class="level-right">
                <span><strong>Ruler / Owner:</strong> {{ location.ruler }}</span>
            </div>
        </nav>
        <div class="columns">
            <div class="column">
                <div class="content has-background-light">
                    <h3 class="subtitle has-text-centered">Description</h3>
                    <p>{{ location.description|markdownify }}</p>
                </div>
            </div>
            {% if location.map %}
                <div class="column content image has-background-light has-text-centered">
                    <h3 class="subtitle">Map</h3>
                    <a href="{{ location.map.url }}">
                        <img class="is-rounded map is-inline-block" alt="A Map of {{ location.name }}"
                             src="{{ location.map.url }}"/>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="columns">
            <div class="column">
                <div class="content has-background-light">
                    <h3 class="subtitle has-text-centered">History</h3>
                    <p>{{ location.history|markdownify }}</p>
                </div>
            </div>
        </div>
        {% for occupant in location.racedistribution_set.all %}

            <p>{{ occupant.race }} - {{ occupant.percentage }}</p>
        {% endfor %}
        <div class="columns">
            <div class="column">
                <div style="max-width:400px;max-height: 400px;">
                    <canvas id="occupancyChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_media %}
    <script src="{% static 'node_modules/chart.js/dist/Chart.min.js' %}"></script>
    <script>
        let ctx = document.getElementById("occupancyChart").getContext('2d');
        let races_distribution = [{% for o in location.racedistribution_set.all %}{{ o.percentage }}{% if not forloop.last %}, {% endif %}{% endfor %}];
        let races_labels = [{% for o in location.racedistribution_set.all %}"{{ o.race }}"{% if not forloop.last %}, {% endif %}{% endfor %}];
        let myPieChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    datasets: [{
                        data: races_distribution,
                        backgroundColor: [
                            'rgb(255, 159, 64)',
                            'rgb(255, 205, 86)',
                            'rgb(0, 163, 51)',
                            'rgb(54, 162, 235)',
                            'rgb(153, 102, 255)',
                            'rgb(201, 203, 207)',
                            'rgb(0,0,255)'
                        ]
                    }],

                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: races_labels
                }
            })
        ;
    </script>
{% endblock %}