{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}
    <div class="columns content">
        <div class="column">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bulma }}
                <button type="submit" class="button is-primary">Save Scene</button>
                <hr>
                <div id="form_set">
                    {{ occupancies.management_form }}
                    {% for extra_form in occupancies.forms %}
                        {{ extra_form.non_field_errors }}
                        {{ extra_form.errors }}
                        <div class="no_error">
                            {{ extra_form|bulma }}
                        </div>
                    {% endfor %}
                </div>
                <input type="button" value="Add More" id="add_more" class="button is-primary">
                <div id="empty_form" style="display:none">
                    <table class='no_error'>
                        {{ occupancies.empty_form|bulma }}
                    </table>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_media %}
    {{ form.media }}
    <script>
        activate_dynamic_inline_forms("racedistribution");
    </script>
{% endblock %}