{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}
    <div class="columns content">
        <div class="column">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|bulma }}
                {% include 'locations/race_form.html' %}
                <hr/>
                <button type="submit" class="button is-primary">Update Location</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_media %}
    {{ form.media }}
    <script>
        $(document).ready(function () {
            activate_dynamic_inline_forms("racedistributions");
        });
    </script>
{% endblock %}