{% extends 'base.html' %}

{% block content %}
    <h2>Treasury</h2>
    {% for money in treasury %}
        <p>{{ money.name }}</p>
        <p>
            <small>Weight: {{ money.weight }}</small>
        </p>
        <p>{{ money.description|linebreaks }}</p>
        <hr>
    {% endfor %}
    <hr>
    <hr>
    {% for item in armory %}
        <div>
            <p>Name: {{ item.name }}</p>
            <p>
                <small>
                    {{ item.get_rarity_display }}
                    {% if item.cursed %}, cursed{% endif %}
                    {% if item.requires_attunement %}(requires attunement){% endif %}
                </small>
            </p>
            <p>AC: {{ item.ac }}</p>
        </div>
        {% if not forloop.last %}
            <hr/>{% endif %}
    {% endfor %}
{% endblock %}