{% extends 'base.html' %}
{% load bulma_tags %}


{% block content %}
    <div class="columns">
        <div class="column content" style="max-width:800px;margin:auto;">
            <h2>Change password</h2>
            <p class="subtitle">We will send you a reset link to your accounts Email.</p>
            <form method="post">
                {% csrf_token %}
                {{ form|bulma }}
                <button type="submit" class="button is-primary">Send</button>
            </form>
        </div>
    </div>
{% endblock %}