{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}
    <div class="columns content" style="max-width:800px;margin: auto;">
        <div class="column">
            {% if validlink %}
                <h1 class="tile">Set a new password!</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|bulma }}
                    <input class="button is-primary" type="submit" value="Change my password">
                </form>
            {% else %}
                <p>The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}