{% include "django/forms/widgets/select.html" %}
<div class="control">
    <a class="button" id="location-add" href=""><span class="icon is-small"><i class="fas fa-plus"></i></span>
    </a>
</div>

<script type="text/javascript">
    $("#location-add").click(function () {
        $("#location-add-modal .modal-content").load("{{ create_url }}", function (response, status, xhr) {
            $("#location-add-modal").toggleClass("is-active").hide().fadeIn("fast");

            $("#location-add-modal .modal-content form").submit(function (e) {
                e.preventDefault();
                $.ajax({
                    type: $(this).attr('method'),
                    url: "{{ create_url }}",
                    data: $(this).serialize(),
                    success: function (xhr, ajaxOptions, thrownError) {
                        $("#location-add-modal").fadeOut("fast", function () {
                            $(this).toggleClass("is-active");
                        });
                        $("#{{ widget.attrs.id }}").load("{{ update_url }}");
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        // handle response errors here
                    }
                });
            });
        });

        return false;
    });

    $("#location-add-modal .modal-close, #location-add-modal .modal-background").click(function () {
        $("#location-add-modal").fadeOut("fast", function () {
            $(this).toggleClass("is-active");
        });
    });
</script>