{% extends 'base.html' %}
{% load bulma_tags %}

{% block content %}
    <div class="modal" id="location-add-modal">
        <div class="modal-background"></div>
        <div class="modal-content"></div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div class="columns content">
        <div class="column">
            <form method="POST">
                {% csrf_token %}
                {{ form|bulma }}
                <button type="submit" class="button is-primary">Create Scene</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block extra_media %}
    {{ form.media }}
{% endblock %}