{% extends "base.html" %}

{% block content %}
    <div class="content">
        <nav class="level">
            <div class="level-left">
                <a href="{% url "scenes:edit" scene.id %}" class="level-item button">
                    <span class="icon is-small"><i class="fas fa-edit"></i></span>
                    <span>Edit</span>
                </a>
            </div>
            <h1 class="level-item title has-text-centered">{{ scene.name }}</h1>
            <div class="level-right">
                <a href="{% url "scenes:delete" scene.id %}" class="level-item button is-danger is-outlined">
                    <span>Delete</span>
                    <span class="icon is-small"><i class="fas fa-times"></i></span>
                </a>
            </div>
        </nav>
        <div class="columns">
            <div class="column">
                <div class="content has-background-light">
                    <h3 class="subtitle has-text-centered">Description</h3>
                    <p>{{ scene.description }}</p>
                </div>
            </div>
            <div class="column">
                <div class="content has-background-light">
                    <h3 class="subtitle has-text-centered">Characters</h3>
                    <p>{{ scene.characters }}</p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="content has-background-light">
                    <h3 class="subtitle has-text-centered">Location</h3>
                    <p>{{ scene.place }}</p>
                </div>
            </div>
            <div class="column">
                <div class="content has-background-light">
                    <h3 class="subtitle has-text-centered">Rewards</h3>
                    <p>{{ scene.rewards }}</p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="content has-background-light">
                    <h3 class="subtitle has-text-centered">Encounters</h3>
                    <p>{{ scene.encounters }}</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}