{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "node_modules/bulma/css/bulma.min.css" %}">
    <link rel="stylesheet" href="{% static "css/rpscene.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>RP Scene - Direct your game</title>
</head>
<body>
<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <span class="icon"><i class="fas fa-dice-d20"></i></span>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Home
            </a>

            <a class="navbar-item" href="/scenes">
                Scenes
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More Stuff
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        About
                    </a>
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Report an issue
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            {% if not user.is_authenticated %}
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'accounts:signup' %}">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="{% url 'login' %}">
                            Log in
                        </a>
                    </div>
                </div>
            {% else %}
                <div class="navbar-item">
                    <p class="navbar-item"><strong>Hi, {{ user.username }}!</strong></p>
                    <div class="buttons">
                        <a class="button is-light" href="{% url 'password_change' %}">
                            Change password
                        </a>
                        <a class="button is-light" href="{% url 'logout' %}">
                            Log out
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</nav>

<section class="section hero is-dark is-small is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title has-text-centered">
                RP Scene
            </h1>
            <h2 class="subtitle has-text-centered">
                Direct your game
            </h2>
        </div>
    </div>
</section>
<br/>
<section class="container">
    {% block content %}
    {% endblock %}
</section>

<footer class="footer fix-footer">
    <div class="content has-text-centered">
        <p>
            <strong>RP Scene</strong> Developed with <span class="icon"><i class="fas fa-hat-wizard"></i></span> in
            Düsseldorf. Alpha Version.
        </p>
    </div>
</footer>

</body>
</html>