{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "node_modules/bulma/css/bulma.min.css" %}">
    <link rel="stylesheet" href="{% static "css/rpscene.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script type="text/javascript" src="{% static "node_modules/jquery/dist/jquery.js" %}"></script>
    <title>RP Scene - Direct your game</title>
</head>
<body>
<div class="main-content">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="notification has-text-centered {{ message.tags }}">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        <script type="text/javascript">
            $(document).on('click', '.notification > button.delete', function () {
                $(this).parent().slideUp().fadeOut({
                    duration: "fast", queue: false, complete: function () {
                        $(this).remove();
                    }
                });
                return false;
            });
            $(document).ready(function () {
                $('.messages > .notification').delay(10000).fadeOut({
                    duration: "fast", complete: function () {
                        $(this).remove();
                    }
                });
            });
        </script>
    {% endif %}
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="#">
                <span class="icon"><i class="fas fa-dice-d20"></i></span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/">
                    Home
                </a>

                <a class="navbar-item" href="/scenes">
                    Scenes
                </a>

                <a class="navbar-item" href="/locations">
                    Locations
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" href="{% url "characters:index" %}">
                        Characters
                    </a>
                </div>


                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="{% url "scenes:playlist.index" %}">
                            Sounds / Music
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="https://github.com/Wegi/rpscene/issues">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
                {% if not user.is_authenticated %}
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{% url 'accounts:signup' %}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{% url 'login' %}">
                                Log in
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="navbar-item">
                        <p class="navbar-item"><strong>Hi, {{ user.username }}!</strong></p>
                        <div class="buttons">
                            <a class="button is-light" href="{% url 'password_change' %}">
                                Change password
                            </a>
                            <a class="button is-light is-outlined is-danger" href="{% url 'logout' %}">
                                Log out
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>

    <section class="section hero is-dark is-small is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title has-text-centered">
                    RP Scene
                </h1>
                <h2 class="subtitle has-text-centered">
                    Direct your game
                </h2>
            </div>
        </div>
    </section>
    <br/>
    <section class="container">
        {% block content %}
        {% endblock %}
    </section>
</div>
<footer class="footer fix-footer">
    <div class="content has-text-centered">
        <p>
            <strong>RP Scene</strong> Developed with <span class="icon"><i class="fas fa-hat-wizard"></i></span> in
            Düsseldorf. Alpha Version.
        </p>
    </div>
</footer>


<script>
    function activate_dynamic_inline_forms(prefix_name, more_button, formset, empty_form) {
        more_button = more_button || "#add_more";
        formset = formset || "#form_set";
        empty_form = empty_form || "#empty_form";
        $(more_button).click(function () {
            let total_forms = $('#id_' + prefix_name + '-TOTAL_FORMS');
            let form_idx = total_forms.prop("value");
            $(formset).append($(empty_form).html().replace(/__prefix__/g, form_idx));
            total_forms.val(parseInt(form_idx) + 1);
        });
    }
</script>
{% block extra_media %}
{% endblock %}
</body>
</html>
